<html lang="en">
<head>
    <title>Smart Car Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="https://javascript-sdk.smartcar.com/sdk-2.0.0.js"></script>
    <script>
        window.onload = function() {
            const smartcar = new Smartcar({
            clientId:"{{cid}}",
            redirectUri: "{{uri}}",
            scope: ['read_vehicle_info', "control_security", 
                                  "control_security:unlock", 
                                  "control_security:lock", 
                                  "read_location", "read_odometer", "read_vin"],
            testMode: true,
            onComplete: function(err, code) {
            if (err) {
            // handle errors from the authorization flow (i.e. user denies access)
            }
            // handle the returned code by sending it to your back-end server
            
            },
            })
            
            if ({{login}}) {
            smartcar.openDialog();
            }
        }
    </script>
</head>
<body>
    
</body>
</html>
